:root {
  --headersFontSize: 18px;
  --tableHeadersFontSize: 14px;
  --insertsFontSize: 12px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  justify-content: center;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #034dad;
  background: linear-gradient(
    90deg,
    rgba(3, 77, 173, 1) 0%,
    rgba(0, 93, 214, 1) 50%,
    rgba(0, 111, 255, 1) 100%
  );
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;
}

.headerLogo {
  height: 50px;
}

.headerContainer > h2 {
  max-width: 1440px;
  width: 100%;
  font-size: 28px;
  color: #fff;
}

.headerContainerRightList {
  list-style: none;
  display: flex;
  margin-right: 15px;
}

.headerContainerRightList > li {
  margin-right: 40px;
}

.headerContainerRightList > li:last-of-type {
  margin-right: 0;
}

.headerContainerRightList > li > a {
  color: #fff;
  text-decoration: none;
  font-size: calc(var(--insertsFontSize) + 8px);
}

.headerContainerRightList > li > a:hover {
  color: #000;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  max-width: 1440px;
  width: 100%;
}

.leftDataInput {
  -moz-box-shadow: 0px 0px 1px 0px rgba(66, 68, 90, 1);
  -webkit-box-shadow: 0px 0px 1px 0px rgba(66, 68, 90, 1);
  background-color: #fff;
  border-radius: 6px;
  border: none;
  box-shadow: 0px 0px 1px 0px rgba(66, 68, 90, 1);
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 330px;
  min-height: 700px;
  padding: 10px;
  width: 100%;
}

.introDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 22px;
  margin: 0 0 20px 0;
  text-align: center;
}

.dataInput {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  padding: 0;

  /* max-width: 400px; */
}
.dataInput::placeholder,
.dataInput > select {
  color: #636c72;
}

.dataInput > h2,
.dataInput > label {
  font-weight: bold;
  max-width: 175px;
  width: 100%;
}

.dataInput > input,
.dataInput > select,
#publisherValueInput {
  -moz-box-shadow: 0px 0px 1px 0px rgba(66, 68, 90, 1);
  -webkit-box-shadow: 0px 0px 1px 0px rgba(66, 68, 90, 1);
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 1px 0px rgba(66, 68, 90, 1);
  height: 30px;
  margin: 5px 0;
  outline: lightgray;
  padding: 5px;
  background-color: hsl(0, 0%, 97%);
}

#publisherValueInput {
  display: none;
}

.btnDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  background-color: #2b49a3;
  border-radius: 15px;
  border: 1px solid cornflowerblue;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  height: 50px;
  margin-top: 10px;
  width: 220px;
}

.buttons:hover {
  transform: scale(1.05);
}

#reportToPdf {
  -moz-box-shadow: 0px 0px 1px 0px rgba(66, 68, 90, 1);
  -webkit-box-shadow: 0px 0px 1px 0px rgba(66, 68, 90, 1);
  background-color: #fff;
  border-radius: 6px;
  border: none;
  box-shadow: 0px 0px 1px 0px rgba(66, 68, 90, 1);
  /* display: flex; */
  height: 100%;
  margin-bottom: 25px;
  margin-left: 20px;
  min-height: 700px;
  padding: 10px;
  width: 100%;
}

#reportToPdf > div > h1,
#reportToPdf > div > h2,
#reportToPdf > div > h3 {
  font-size: var(--headersFontSize);
  margin-bottom: 10px;
}

.reportBlock1 > h1 > span,
.reportBlock1 > h2 > span,
.reportBlock1 > h3 > span {
  font-size: var(--headersFontSize);
  font-weight: bold;
  text-decoration: underline;
}

.reportBlock1 {
  margin-right: 15px;
}
.reportBlock2 {
  margin-right: 15px;
  page-break-before: always;
}

table {
  border-collapse: collapse;
  margin-bottom: 15px;
  max-width: 475px;
  width: 100%;
}

th,
td {
  border: 1px solid;
  font-size: var(--tableHeadersFontSize);
  text-align: center;
}

th {
  padding: 2px 4px;
}

#tBody {
  width: 100%;
}

.tdButton {
  background-color: #d9edfb;
  padding: 2px;
  margin: 2px;
  border: none;
  cursor: pointer;
  text-align: center;
}

.tdButton:hover {
  background-color: #93a0a9;
}

#tBody > tr > td,
#tBody > tr > td > textarea {
  font-size: var(--insertsFontSize);
  max-width: 220px;
}

#indicatorsTable > tbody > tr > td {
  min-width: 80px;
  padding: 5px;
}

.scoredPointsInput {
  border: none;
  display: block;
  font-size: var(--insertsFontSize);
  outline: none;
  resize: none;
  text-align: center;
  width: 100%;
  padding: 5px;
  -moz-appearance: textfield;
}

.scoredPointsInput::-webkit-inner-spin-button,
.scoredPointsInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.errorScoredPointsInput {
  background-color: red;
}

.studentNameArea {
  border: none;
  display: block;
  font-size: var(--insertsFontSize);
  min-width: 220px;
  outline: none;
  resize: none;
  text-align: center;
  padding: 5px;
}

.taskDifficultyBodyDesc {
  min-width: 150px;
}

.taskDifficultyTextArea {
  border: none;
  display: block;
  font-size: var(--tableFontSize);
  outline: none;
  overflow-y: hidden;
  padding: 5px;
  resize: none;
  text-align: center;
  width: 100%;
  min-width: 85px;
  height: 50px;
}

#analysisTask {
  margin-bottom: 15px;
  width: 100%;
}

.taskAnalysisDifficultyTextArea {
  font-size: var(--insertsFontSize);
  min-height: 150px;
  width: 100%;
  max-width: 320px;
}

#analysisTask > h3:last-of-type {
  margin: 15px 0 0 0;
}

h4 {
  font-size: var(--tableHeadersFontSize);
  margin-bottom: 10px;
}

#reportPreparedByContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  width: 100%;
}

#reportPreparedBy {
  font-size: var(--insertsFontSize);
  height: 25px;
  min-width: 330px;
  resize: vertical;
  text-align: center;
}

#reportToPdf {
  display: flex;
  padding-top: 30px;
}

#btnDownloadEnd {
  margin-left: 0;
  margin-bottom: 40px;
}

/* ===== PDF MODE ===== */
.pdf-mode {
  width: 210mm;
  padding: 10mm;
  margin: 0 0;
  background: #fff;
}

.pdf-mode * {
  box-sizing: border-box;
  /* font-size: 9px !important; */
  padding: 3px;
  /* font-size: 8(var(--headersFontSize) - 2px);
  font-size: calc(var(--insertsFontSize) - 2px);
  font-size: calc(var(--tableHeadersFontSize) - 2px); */
}

.pdf-mode #reportToPdf {
  margin: 0 !important;
  display: block !important;
}

.pdf-mode table {
  width: 100% !important;
}

.pdf-mode table,
.pdf-mode textarea,
.pdf-mode div {
  max-width: 100%;
}

/* ===== RESPONSIVE DESIGN ===== */
/* Mobile responsive design */
@media (min-width: 320px) and (max-width: 767px) {
  main {
    flex-direction: column;
    align-items: center;
  }

  .leftDataInput,
  .dataInput {
    max-width: 740px;
    width: 90%;
    align-items: center;
    justify-content: center;
  }

  .dataInput {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .dataInput > label {
    text-align: center;
  }

  .btnDiv {
    flex-direction: column;
    align-items: center;
  }

  .buttons {
    margin: 10px 0 5px 0;
  }

  #reportToPdf {
    width: 100%;

    text-align: center;
  }

  table {
    width: 90%;
    margin: 0 auto 15px auto;
  }

  .studentNameArea {
    width: 100%;
    min-width: 100px;
  }

  #reportPreparedBy {
    max-width: 300px;
  }
}

/* ===== TABLET RESPONSIVE DESIGN ===== */
@media (min-width: 768px) and (max-width: 1023px) {
  /* .dataInput > label {
    text-align: center;
  } */

  .buttons {
    margin: 10px 5px 5px 5px;
  }

  #reportToPdf > div > h3 {
    text-align: left;
  }

  table {
    width: 100%;
    /* margin: 0 auto 15px auto; */
  }

  .taskAnalysisDifficultyTextArea {
    max-width: 360px;
    /* margin: 0 auto; */
  }

  /* #reportPreparedBy {
    max-width: 400px;
  } */
}

/* @media (max-width: 1023px) {
  body:not(.pdf-mode) main {
    flex-direction: column;
  }

  body:not(.pdf-mode) table {
    width: 90%;
  }
} */
