@media (min-width: 1440px) {
  .analysis {
    // max-width: 230px;

    &__textarea {
      max-width: 280px;
      min-width: 280px;
    }
  }

  .report {
    display: flex;
    align-items: center;

    &-author__input {
      max-width: 280px;
      min-width: 280px;
    }
  }
}
