@media only screen and (min-width: 768px) and (max-width: 1079px) {
  .analysis {
    display: flex;
    justify-content: center;
    gap: 12px;
    width: 100%;

    &__wrapper {
      margin: 10px 0;
      min-width: 0;
      flex: 1 1 0;
    }

    &__textarea {
      min-width: 100%;
      max-width: 100%;
    }
  }
}
