@media only screen and (min-width: 768px) {
  .report__side {
    display: flex;
    flex-direction: row;
  }

  .analysis {
    display: flex;
    justify-content: center;
    gap: 12px;
    width: 100%;
    margin: 0 10px;

    &__wrapper {
      margin: 10px 0;
      min-width: 0;
      flex: 1 1 0;
    }

    &__textarea {
      width: 100%;
      max-width: 355px;
    }
  }
}
